
@model StokTakipProjesi.Models.Entity.tblKategori

@{
    ViewBag.Title = "Yenikategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>

<!-- Form  -->
<div class="col-5">
    <div class="bg-secondary rounded h-100 p-4" style="margin-top:10px; ">
        <h6 class="mb-4">Kategori Ekle</h6>
        <form method="post">
            <div class="mb-3">

                <label class="form-label">Kategori Adı</label>
                @Html.TextBoxFor(m => m.kategoriAd, new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.kategoriAd, "", new { @style = "color:red" })


            </div>

            <button type="submit" class="btn btn-primary">EKLE</button>

        </form>
    </div>
</div>

